

 

<div class="container pt">
		<div class="row mt">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h3>Add a new Blog!</h3>
				<hr>
				<ul>
 	<% if @post.errors.any? %>

<% @post.errors.full_messages.each do |k|%>
<li>
<%=k%>
</li>
<% end %>
	<% end %>
</ul>
<hr>
				
			</div>
		</div>
		<div class="row mt">	
			<div class="col-lg-8 col-lg-offset-2">
				 <%= form_for @post, html: { class: "form-horizontal" } do |f| %>
				  <div class="form-group">
				  <%= f.text_field :title, class: "form-control",placeholder:"Blog title" %>
				    
				  <br>
				  				  
				  <%= f.text_area :body, class: "form-control",rows:"15",placeholder:"Enter new blog entry . . ." %>
				  
				   <br>
				   <p><%= f.submit class: "btn btn-success" %> | <%= link_to "<button class='btn btn-primary'>Back</button>".html_safe ,posts_path %>	</p>
				  </div>
				<% end %>   			
			</div>
		</div><!-- /row -->
	</div>