<div id="white">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<p><img src="user.jpg" width="50px" height="50px"> <ba>Nhat Nguyen</ba></p>
					<p><bd><%=@post.created_at%></bd></p>
					<h4><%=@post.title%></h4>
					
					<p><%=@post.body%></p>
					<hr>
					<p><%=link_to "Edit",edit_post_path(@post)%> | 
					<%=link_to "Delete", post_path(@post),method: 'delete',data:{confirm:"You're requesting delete this post, are you sure?"} %>      |             <%= link_to "Back", posts_path %></p>
					



					<hr>
					<% @post.comments.each do |k|%>
					<div class="panel panel-success">
						<div class="panel-heading"><%=k.name%> wroten at <%=k.created_at%></div>
  							<div class="panel-body">
   								 <%=k.body%>
  									</div>
  									<div class="panel-footer"><%=link_to 'Delete', [k.post,k],method: :delete%></div>
					</div>
					<% end %>
					
		<div class="container pt">
		<div class="row mt">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h3>Leave your comments</h3>
				<hr>
				
			</div>
		</div>
		<div class="row mt">	
			<div class="col-lg-8 col-lg-offset-2">
				 <%= form_for [@post,@post.comments.build], html: { class: "form-horizontal" } do |f| %>
				  <div class="form-group">
				  <%= f.text_field :name, class: "form-control",placeholder:"Your Name" %>
				    
				  <br>
				  				  
				  <%= f.text_area :body, class: "form-control",rows:"6",placeholder:"Enter your comment here . . ." %>
				  
				   <br>
				   <%= f.submit class: "btn btn-success" %>
				  </div>
				<% end %>   			
			</div>
		</div><!-- /row -->
	</div><!-- /container -->


				</div>

			</div><!-- /row -->
	    </div> <!-- /container -->
	</div>



